ALTER TABLE public.check_ins ADD COLUMN distress_level text, ADD COLUMN distress_score numeric, ADD COLUMN immediate_danger boolean, ADD COLUMN distress_signals jsonb, ADD COLUMN distress_reason text;
